<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Session #<%= @session.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/sessions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link session start -->
      <div class="col">
        <a href="/sessions/<%= @session.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit session
        </a>
      </div>
      <!-- Edit link session end -->

      <!-- Delete link session start -->
      <div class="col">
        <a href="/delete_session/<%= @session.id %>" class="btn btn-block btn-outline-secondary">
          Delete session
        </a>
      </div>
      <!-- Delete link session end -->
    </div>

    <dl>
      <dt>
        Therapist
      </dt>
      <!-- Display therapist_id start -->
      <dd>
        <%= @session.therapist_id %>
      </dd>
      <!-- Display therapist_id end -->

      <dt>
        Patient
      </dt>
      <!-- Display patient_id start -->
      <dd>
        <%= @session.patient_id %>
      </dd>
      <!-- Display patient_id end -->

      <dt>
        Date
      </dt>
      <!-- Display date start -->
      <dd>
        <%= @session.date %>
      </dd>
      <!-- Display date end -->

      <dt>
        Notes
      </dt>
      <!-- Display notes start -->
      <dd>
        <%= @session.notes %>
      </dd>
      <!-- Display notes end -->

      <dt>
        Price
      </dt>
      <!-- Display price start -->
      <dd>
        <%= @session.price %>
      </dd>
      <!-- Display price end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@session.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@session.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
