<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Session #<%= @session.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/sessions" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @session.therapist %>
          <a href="/sessions/<%= @session.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit session
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @session.therapist %>
          <a href="/delete_session/<%= @session.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete session
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Therapist
      </dt>
      <dd>
        <% if @session.therapist.present? %>
          <a href="/users/<%= @session.therapist_id %>">
            <%= @session.therapist.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Patient
      </dt>
      <dd>
        <% if @session.patient.present? %>
          <a href="/patients/<%= @session.patient_id %>">
            <%= @session.patient.patient_name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @session.date %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @session.notes %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @session.price %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@session.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@session.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

