<h1>
  Edit patient #<%= @patient.id %>
</h1>

<hr>

<!-- Form patient start -->
<form action="/update_patient/<%= @patient.id %>" method="post">
<!-- Form patient end -->

  <!-- Label and input for patient_name start -->
  <div class="form-group">
    <label for="patient_name">
      Patient name
    </label>

    <!-- Input for patient_name start -->
    <input type="text" id="patient_name" name="patient_name" class="form-control" value="<%= @patient.patient_name %>">
    <!-- Input for patient_name end -->
  </div>
  <!-- Label and input for patient_name end -->

  <!-- Label and input for patient_email start -->
  <div class="form-group">
    <label for="patient_email">
      Patient email
    </label>

    <!-- Input for patient_email start -->
    <input type="text" id="patient_email" name="patient_email" class="form-control" value="<%= @patient.patient_email %>">
    <!-- Input for patient_email end -->
  </div>
  <!-- Label and input for patient_email end -->

  <!-- Label and input for therapist_id start -->
  <div class="form-group">
    <label for="therapist_id">
      Therapist
    </label>

    <!-- Input for therapist_id start -->
    <%= select_tag(:therapist_id, options_from_collection_for_select(User.all, :id, :email, @patient.therapist_id), :class => "form-control") %>
    <!-- Input for therapist_id end -->
  </div>
  <!-- Label and input for therapist_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update patient
  </button>
</form>

<hr>

<a href="/patients">
  Go back
</a>
