<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Patient #<%= @patient.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/patients" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @patient.therapist %>
          <a href="/patients/<%= @patient.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit patient
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @patient.therapist %>
          <a href="/delete_patient/<%= @patient.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete patient
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Patient name
      </dt>
      <dd>
        <%= @patient.patient_name %>
      </dd>

      <dt>
        Patient email
      </dt>
      <dd>
        <%= @patient.patient_email %>
      </dd>

      <dt>
        Therapist
      </dt>
      <dd>
        <% if @patient.therapist.present? %>
          <a href="/users/<%= @patient.therapist_id %>">
            <%= @patient.therapist.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@patient.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@patient.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "patient_templates/patient_sessions" %>
  </div>
</div>
